<%- include('bootheader') -%>

<%- include('menubar') -%>

<h1 class = "display-1"> <%= feature %> </h1>
<br>

<%
   let montharray =  ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
   let monthcounter = -1
%>

<% for (j=0; j<results.length;j+=5) { %>
  <% monthcounter = -1 %>
    <h1 class = "display-1"> Year: <%= results[j].fromYear+j%> </h1>
<div style="border-top:thick solid blue; margin:20; padding:10">

    <div class="row">
        <div class="col">
            <ol class="list-group list-group-numbered">
            <% results[j].monthVals.map((i) => {%>
                <% monthcounter += 1 %>
                <li class = "list-group-item"> <%= montharray[monthcounter] %>: <%= i %></li>
            <%})%>
            </ol>
        </div>
   </div>
</div>
<br>
<%}%>










<%- include('bootfooter') -%>
